<launch>
<arg name="bin" default="$(find urdf)/urdf/model.urdf"/>
<param name="robot_description" textfile="$(find car-robot)/urdf/model.urdf" />
<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
<node name="rviz" pkg="rviz" type="rviz" required="true" />
</launch>
